/* region 颜色配置 */
// 基本颜色
$--wh-main-color: #6979F8;

// 文字颜色
$--wh-text-color: #3F3356;

// 图标默认色
$--wh-icon-color: #1A051D;

// 禁用颜色
$--wh-text-disable-color: #D0C9D6;
$--wh-bg-disable-color: #ECE9F1;
/* endregion */
